UI_ANALYSIS_API_URL=http://analysis:8080
UI_REPORT_API_URL=http://reports:8001/api
UI_CONFIG_API_URL=http://backend:8000
UI_API_URL=http://backend:8000

AUTH_SECRET_KEY=EXAMPLE_KEY

ANALYSIS_WORKER_CONCURRENCY=20
ANALYSIS_REDIS_URL=analysis-redis:6379
ANALYSIS_ENDPOINT_URL=http://analysis:8080

S3_BUCKET_ACCESS_KEY=rustfsadmin
S3_BUCKET_SECRET_KEY=rustfsadmin
S3_BUCKET_REGION=us-east-1
S3_BUCKET_ENDPOINT=http://s3:9000

POSTGRES_HOST=db
POSTGRES_USER=smelt
POSTGRES_PASSWORD=smelt
POSTGRES_DB=smelt
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

OLLAMA_URL=http://reports-ollama:11434
