ANALYSIS_WORKER_CONCURRENCY=20
ANALYSIS_REDIS_URL=smelt-analysis-redis:6379

S3_BUCKET_ACCESS_KEY=rustfsadmin
S3_BUCKET_SECRET_KEY=rustfsadmin
S3_BUCKET_REGION=us-east-1
S3_BUCKET_ENDPOINT=http://smelt-s3:9000

POSTGRES_HOST=smelt-db
POSTGRES_USER=smelt
POSTGRES_PASSWORD=smelt
POSTGRES_DB=smelt
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
